/* GENERALES */

body,
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Raleway', Helvetica Neue, Helvetica, Arial, sans-serif;
    overflow: hidden;
}


/* body {
    
} */

.wrapper {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    /* scroll-snap-type: y mandatory; */
}

header {
    width: 100%;
    position: fixed;
    z-index: 200;
    background: #fff;
}

#home,
#contact,
#about {
    position: relative;
}

nav {
    border: none;
}

.scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .8);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    box-sizing: content-box;
    text-align: center;
    z-index: 50;
}

.scroll-top:hover {
    color: #fff;
}

.scroll-top>span {
    line-height: inherit;
    font-size: 18px;
    vertical-align: center;
}

.loading-screen {
    position: absolute;
    width: 100%;
    height: 200vh;
    /* background: #0a0a0a; */
    background: #000;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    z-index: 210;
}

.init {
    /* background: #121212; */
    background-image: linear-gradient( rgba(0, 0, 0, .875), rgba(0, 0, 0, 0.5)), url(../assets/img/school.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    /* background-color: rgba(0, 0, 0, .575); */
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 205;
    width: 100%;
    height: 100vh;
}

.ring {
    margin: 0%;
    padding: 0%;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    /* display: flex; */
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 250;
    width: 50%;
    opacity: 0.7;
    max-width: 380px;
    display: none;
}

.ring img {
    max-width: 180px;
    text-shadow: -1px 1px 0 #000, -1px 1px 0 #0a0e27;
}

.ring h3 {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1;
    font-weight: 600;
    font-family: 'Lemonada', cursive, monospace, "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: -1px 1px 0 #000, -1px 1px 0 #0a0e27;
    z-index: 10;
}

.welcome h3 {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1;
    font-weight: 500;
    font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: -2px 2px 0 #000, -2px 2px 0 #0a0e27;
    z-index: 10;
}

#hero {
    position: absolute;
    max-width: 350px;
    max-height: 400px;
    height: 200px;
    width: auto;
    bottom: 0;
}


/* .ringOne img {
    animation: rotateFirstRing 3s linear;
}
 */


/* 
.ringTwo img {
    animation: rotateFirstRing 8s linear infinite;
    max-width: 370px;
} */

.welcome {
    width: 100%;
    height: 65vh;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    z-index: 250;
    display: none;
}

.welcome h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    font-weight: 900;
    font-family: 'Raleway', "Helvetica Neue", Helvetica, sans-serif;
    text-shadow: -4px 4px 0 #000, -4px 4px 0 #0a0e27;
    z-index: 10;
}

@keyframes rotateFirstRing {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 500px) {
    .welcome h1 {
        font-size: 1.8rem;
        font-weight: 500;
        text-shadow: -2px 2px 0 #000, -2px 2px 0 #0a0e27;
    }
    .ring h3,
    .welcome h3 {
        font-size: 1rem;
        font-weight: 300;
    }
}


/* Telefonos e ingresar */

.item-contacto {
    max-width: 700px;
    background: #EB5757;
    margin-left: auto;
    padding: 5px;
}

.item-contacto>.navbar-nav {
    display: flex;
    flex-flow: row nowrap;
}

#contacto.navbar ul li a {
    color: #fff;
    font-family: monospace;
    text-transform: none;
}

#contacto.navbar ul li a:before {
    border-bottom: none;
    border-left: none;
    /* transform-origin: */
}

#contacto.navbar ul li a:after {
    border-top: none;
    border-right: none;
    /* transform-origin: 100% 0% */
}


/* #contacto.navbar ul li a:hover:after,
#contacto.navbar ul li a:hover:before {
    transform: scale(1)
} */

.btn-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.vl {
    border-left: 2px solid rgba(255, 255, 255, .575);
    height: 25px;
}

#btn-login2,
#phone-number {
    display: none;
}

@media screen and (max-width: 991px) {
    .navbar {
        padding-right: 10px;
    }
    #btn-navbar {
        margin-right: 10px;
    }
}

@media screen and (max-width: 680px) {
    #contacto {
        height: 44px;
    }
    #btn-login2,
    #phone-number {
        display: inline-block;
    }
    .btn-icon {
        justify-content: center;
    }
    #contenedor-contacto {
        display: none;
    }
}


/* NAVBAR */

.navbar {
    width: 100%;
    z-index: 100;
    transition: all 1.5s ease;
}

#nav-menu {
    /* border-top: 1px solid #dedfe3; */
    border-bottom: 1px solid #f2f3f5;
}

.hamburguer {
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    transition: color 0.5s ease-in;
}

.hamburguer>i {
    font-size: 25px;
    line-height: 80px;
}

#logo-a>img {
    height: 75px;
    width: 150px;
}

#logo-castillodetalentos:hover {
    height: 80px;
    width: 155px;
    transition: all .8s ease;
}

.nav-item>a>img {
    height: 35px;
}

.navbar a {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.navbar .navbar-nav .nav-link {
    color: #53565a;
}

.nav-link img {
    width: auto;
    height: 36px;
}

.nav-link {
    text-transform: uppercase;
    color: #53565a;
}

.link-facebook>img {
    height: 36px;
    width: auto;
}

#btn-login>.nav-link,
#btn-login2>.nav-link {
    background: rgba(0, 0, 0, .55);
    border-radius: 5px;
    color: #fff;
}

.fixea-top {
    position: fixed-top;
}

#logo-a {
    position: absolute;
    padding-top: 0;
    margin-top: 0;
    top: 8px;
    left: 30px;
    height: 75px;
    width: 150px;
    cursor: pointer;
    z-index: 150;
}

.fondo-blanco {
    background: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 99px;
    width: 210px;
    z-index: 120;
    transition: all 1.5s ease;
}

.dark-navbar {
    background: #002;
    /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
    color: #fff;
    transition: all 1.5s ease;
}

.navbar.dark-navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar.dark-navbar ul li a:before {
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    transform-origin: 0 100%
}

.navbar.dark-navbar ul li a:after {
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform-origin: 100% 0%
}

.navbar.dark-navbar ul li a:hover:after,
.navbar.dark-navbar ul li a:hover:before {
    transform: scale(1)
}

@media screen and (max-width: 990px) {
    /* .hamburguer {
        display: block;
        z-index: 150;
    } */
    .navbar-toggler {
        z-index: 200;
    }
    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, .875);
        top: 0;
        right: 0;
        padding-top: 80px;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transition: ease-in-out 0.5s;
        clip-path: circle(0.0% at 100% 0);
    }
    .navbar-light .navbar-toggler {
        border-color: #fff;
    }
    .dark-navbar .navbar-toggler {
        border-color: #fff;
    }
    .dark-navbar>.navbar-toggler {
        color: #fff;
    }
    .navbar-light .navbar-toggler i {
        color: #fff;
    }
    .dark-navbar .navbar-toggler i {
        color: #fff;
    }
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, .8);
    }
    .navbar .menudos {
        -webkit-clip-path: circle(150% at 100% 0);
        clip-path: circle(150% at 100% 0);
    }
    .navbar .navbar-collapse ul {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .navbar .nav-item {
        width: 90%;
    }
    .navbar .navbar-nav .nav-link {
        text-transform: uppercase;
        /* display: block; */
        color: #fff;
    }
    .navbar .navbar-nav .nav-link:before {
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
        transform-origin: 0 100%
    }
    .navbar .navbar-nav .nav-link:after {
        border-top: 2px solid #fff;
        border-right: 2px solid #fff;
        transform-origin: 100% 0%
    }
    .navbar .navbar-nav .nav-link:hover:after,
    .navbar .navbar-nav .nav-link:hover:before {
        transform: scale(1)
    }
    #contacto {
        display: none;
    }
    .navbar {
        /* background: #0f0c29;
        background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
        background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
        background: #563d7c;
    }
    .dark-navbar {
        background: #000000;
    }
}


/* SLIDER */

.slider {
    padding-top: 101px;
    /* background: #1f2d57; */
    min-height: 60vh;
    /* background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB); */
    background: #563d7c;
}

.slide-item {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
    /* background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB); */
    /*  background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
    background: #563d7c;
    z-index: 30;
    min-height: 60vh;
}

.card {
    width: 350px;
    max-width: 350px;
    height: 50vh;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.slide-item>img {
    max-height: 50vh;
}

.filter-img {
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
}

.carousel-control-next,
.carousel-control-prev {
    /* background-color: rgba(0, 131, 176, 0.575); */
    width: 8%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    /* background-color: rgba(0, 0, 0, 0.070); */
    width: 8%;
}

.wave,
#clouds {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.description {
    font-family: "Work Sans", sans-serif;
    color: #fff;
    /* margin-left: auto;
    margin-right: auto; */
}

.description h1 {
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    font-weight: 900;
}

.description p {
    font-size: 15px;
    color: #fff;
}

.play-btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 50%;
    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    z-index: 10;
}

.play-btn:hover {
    background: rgba(0, 0, 0, .575);
}

.play-btn i {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%);
}

@media screen and (max-width: 1082px) {
    .slide-item>img {
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .slider {
        padding-top: 46px;
    }
}

@media screen and (max-width: 800px) {
    .slide-item {
        flex-flow: row wrap;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .carousel-control-next,
    .carousel-control-prev {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    .description h1 {
        font-size: 2rem;
    }
}


/* DIALOG */

.contenedor-video {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
    height: 100%;
}

.video {
    position: fixed;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: 80%;
}

.close-btn {
    color: #fff;
    position: absolute;
    right: 1em;
    top: 2em;
    z-index: 40;
    cursor: pointer;
    font-size: 25px;
    font-weight: 900;
    text-shadow: 0 2px 3px #000;
    /* background: #000; */
    border-radius: 2px;
}

@media screen and (max-width: 800px) {
    .video {
        height: 60%;
    }
}

@media screen and (max-width: 600px) {
    .video {
        width: 90%;
        height: 40%;
    }
}

@media screen and (max-width: 400px) {
    .video {
        width: 95%;
        height: 36%;
    }
}


/* SECTIONS */

section {
    min-height: 50vh;
    width: 100%;
    background: #e3e5eb;
    scroll-snap-align: center;
}

#niveles,
#about {
    background: #fafafa;
}


/* TESTIMONIALS */

#testimonios {
    min-height: 100vh;
    /* margin-top: 200px;
    margin-bottom: 50px; */
    padding-top: 180px;
    background: #fff;
    padding-bottom: 20px;
}

.testimonial_bg_1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.575)), url(../assets/img/testmonial.png);
}

.testimonial_area {
    position: relative;
    z-index: 0;
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.testimonial_area .testmonial_text p {
    font-size: 24px;
    color: #fff;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    line-height: 34px;
    margin-top: 26px;
    margin-bottom: 22px;
}

@media (max-width: 767px) {
    .testimonial_area .testmonial_text p {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .testimonial_area .testmonial_text p br {
        display: none;
    }
}

.testimonial_area .testmonial_text span {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.testimonial_area .owl-carousel .owl-item img {
    display: inline-block;
    width: auto;
    margin: auto;
}

.author_img img {
    max-width: 200px;
    max-height: 100px;
    border-radius: 50%;
}

@media screen and (max-width: 990px) {
    #testimonios {
        padding-top: 80px;
    }
}


/* ABOUT US */

#about {
    background: #fff;
    padding-top: 110px;
    padding-bottom: 80px;
}

.our_courses .single_course {
    border: 1px solid #E8E8E8;
    padding: 38px 30px;
    position: relative;
    margin-bottom: 30px;
    z-index: 0;
}

.our_courses .single_course .icon i {
    color: #FD8E5E;
    font-size: 45px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.our_courses .single_course .icon.blue i {
    color: #04D2C8 !important;
}

.our_courses .single_course .icon.gradient i {
    color: #D465EF;
}

.our_courses .single_course h3 {
    font-size: 18px;
    font-weight: 400;
    color: #1F1F1F;
    margin-bottom: 22px;
    margin-top: 7px;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.our_courses .single_course p {
    font-size: 17px;
    color: #727272;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.our_courses .single_course:before {
    position: absolute;
    background: #FD8E5E;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    transform-origin: bottom;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    z-index: -1;
}

.our_courses .single_course:hover::before {
    transform-origin: top;
    opacity: 1;
}

.our_courses .single_course:hover h3 {
    color: #fff;
}

.our_courses .single_course:hover p {
    color: #fff;
}

.our_courses .single_course:hover .icon i {
    color: #fff !important;
}

.our_latest_blog {
    padding-top: 50px;
}

.our_latest_blog .single_latest_blog .thumb {
    overflow: hidden;
}

.our_latest_blog .single_latest_blog .thumb img {
    width: 100%;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.our_latest_blog .single_latest_blog .content_blog {
    padding: 35px 4px 30px 0;
}

.our_latest_blog .single_latest_blog .content_blog .date p {
    margin-bottom: 0;
    font-size: 14px;
    color: #4D4D4D;
    font-weight: 400;
}

.our_latest_blog .single_latest_blog .content_blog .date p a {
    color: #04D2C8;
}

.our_latest_blog .single_latest_blog .content_blog .blog_meta h3 {
    font-size: 18px;
    color: #1F1F1F;
    margin-top: 8px;
    margin-bottom: 8px;
}

.our_latest_blog .single_latest_blog .content_blog .blog_meta h3 a {
    color: #1F1F1F;
}

.our_latest_blog .single_latest_blog .content_blog .blog_meta h3 a:hover {
    color: #04D2C8;
}

.our_latest_blog .single_latest_blog .content_blog .blog_text {
    font-size: 17px;
    font-weight: 400;
}

.our_latest_blog .single_latest_blog:hover .thumb img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


/* contact */

#contact {
    /* background: linear-gradient( rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../assets/img/bg.png); */
    background: #fff;
    padding-top: 110px;
    padding-bottom: 80px;
    overflow: hidden;
}

.contact_section .row {
    align-items: center;
}

#contact-form {
    animation: ease-in animatedIzquierda 1s;
    transition: 1s;
}

.contact_section h2 {
    text-align: center;
    /* text-transform: uppercase; */
    font-weight: 900;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.contact_section p {
    color: #787877;
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}

.contact_section label {
    display: flex;
    flex-direction: column;
    color: #797879;
    margin-bottom: 25px;
}

.contact_section input,
.contact_section textarea {
    outline: none;
    border: 1px solid #c1c1c2;
    width: 90%;
    height: 45px;
    padding: 0 15px;
    margin-top: 5px;
    width: 100%;
}

.contact_section textarea {
    height: 125px;
    padding: 5px;
}

.contact_form-container {
    padding: 15px 0 15px 0;
}

.contact_form-container button {
    border: none;
    background: #00B4DB;
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);
    background: linear-gradient(to right, #0083B0, #00B4DB);
    color: #fff;
    padding: 12px 45px;
    font-size: 14px;
    border-radius: 25px;
    text-transform: uppercase;
}

.contact_img-box img {
    width: 100%;
    animation: ease-in animatedDerecha 1s;
}


/** footer **/

#footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

.footer {
    /* background: url(../assets/img/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%; */
    background: rgb(0, 0, 0);
    padding-top: 100px;
    text-align: center;
}

.footer .titlepage {
    text-align: left;
    padding-bottom: 0px;
}

.footer .titlepage h2 {
    color: #fff;
    margin: inherit;
    border-bottom: #fff solid 1px;
}

.logo1 {
    margin-top: -30px;
}

.footer-links ul {
    text-align: center;
    margin-left: 0;
    padding-left: 0;
}

.social_icon {
    padding-top: 37px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.social_icon li {
    display: inline-block;
}

.social_icon li a {
    text-decoration: none;
    background: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 30px;
    margin: 0 3px;
}

.social_icon li a:hover {
    background-color: #48ca95;
    color: #fff;
}

.footer h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    padding-bottom: 15px;
}

.about_us li,
.conta li {
    color: #fff;
    font-size: 17px;
    text-align: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.conta li {
    font-family: monospace, "Helvetica Neue", Helvetica, sans-serif;
}

footer .footer-links,
footer .iframe {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

footer .iframe p {
    color: #fff;
    font-size: 1.2rem;
    font-family: monospace;
}

footer .iframe iframe {
    width: 100%;
    height: 80%;
}

.bottom_form h3 {
    font-weight: 600;
    font-size: 25px;
    line-height: 25px;
    text-align: left;
    color: #fff;
    padding-bottom: 15px;
}

.bottom_form .enter {
    border: inherit;
    padding: 0px 19px;
    width: 100%;
    height: 45px;
    background: #fffffff2;
    color: #ccc8c8;
    font-size: 17px;
    font-weight: 600;
    float: left;
    border-radius: 10px;
    margin-bottom: 20px;
}

.sub_btn {
    font-size: 17px;
    transition: ease-in all 0.5s;
    background-color: #48ca95;
    color: #fff;
    padding: 10px 0px;
    max-width: 147px;
    border-radius: 10px;
    width: 100%;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}

.sub_btn:hover {
    background-color: #000;
    transition: ease-in all 0.5s;
    color: #fff;
}

.copyright {
    margin-top: 80px;
    padding-bottom: 20px;
}

.copyright p {
    color: #ddd;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border-top: #ddd solid 1px;
    padding-top: 25px;
    font-weight: normal;
}

.copyright a {
    color: #ddd;
}

.copyright a:hover {
    color: #48ca95;
}


/* SOCIAL */

#social-ads {
    left: 0;
}

.social-container {
    font-family: Helvetica Neue, Verdana, Helvetica, Arial, sans-serif;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: fixed;
    opacity: 1;
    text-align: left;
    top: 50%;
    z-index: 99;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-container .st-btn {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: NaNpx;
    height: 48px;
    line-height: 24px;
    margin-bottom: 0;
    opacity: 1;
    overflow: hidden;
    padding: 12px;
    position: relative;
    text-align: left;
    top: 0;
    vertical-align: top;
    white-space: nowrap;
    width: 48px;
    text-align: center;
}

.social-container .st-btn>svg {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    height: 24px;
    margin-left: 0;
    vertical-align: top;
    width: 24px;
}

.social-container>div {
    clear: left;
    float: left;
}

.social-container .st-toggle,
.st-sticky-share-buttons {
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.social-container .st-toggle {
    right: -48px;
    background: #ccc;
    border-bottom-left-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    text-align: center;
    width: 48px;
}

.social-container a:hover svg {
    height: 1.2em;
}

.social-container .st-first {
    background-color: #3b5998;
}

.social-container .st-second {
    background-color: #448aff;
}

.social-container .st-third {
    background-color: #25d366;
}

.social-container .st-last {
    background: linear-gradient(45deg, #f09433, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888);
}

@media screen and (max-width: 600px) {
    .social-container {
        display: none;
    }
}

@keyframes animatedIzquierda {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes animatedDerecha {
    0% {
        opacity: 0;
        transform: translateX(200px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}